<a href="https://colab.research.google.com/github/Nan2711/Hackathon2021/blob/main/RecommenderSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Build a *Course* recommendation engine  using cosine similarity

In [ ]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving dataset_course.csv to dataset_course.csv

In [ ]:
#store data
df =pd.read_csv('dataset_course.csv')
df.head(3)

   Rank                   Course  ... Metascore Course_id
0     1  Artificial Intelligence  ...        76         0
1     2               Biometrics  ...        65         1
2     3            CyberSecurity  ...        62         2

[3 rows x 10 columns]

In [ ]:
#get a count of no. of rows in the data set & the number of columns
df.shape

(11, 10)

In [ ]:
#list of imp colums that are needed for recommender system
columns = ['Course','Users','Requirement','Prior_Knowledge']

In [ ]:
#show the data 
df[columns].head(3)

                    Course    Users      Requirement   Prior_Knowledge
0  Artificial Intelligence  Nandila  skillenhacement            Python
1               Biometrics   Sakshi          Project  Machine Learning
2            CyberSecurity   Shriya      Internships     White hacking

In [ ]:
#check if there are any missing values in imp cols
df[columns].isnull().values.any()

False

In [ ]:
#create a function to combine the values of the imp col into a single string
def get_important_features(data):
  important_features = []
  for i in range(0,data.shape[0]):
    important_features.append(data['Course'][i]+' '+data['Users'][i]+' '+data['Requirement'][i]+' '+data['Prior_Knowledge'][i])

  return important_features

In [ ]:
#hold the combined strings
df['important_features']=get_important_features(df)

df.head(3)

   Rank  ...                                 important_features
0     1  ...  Artificial Intelligence Nandila skillenhacemen...
1     2  ...         Biometrics Sakshi Project Machine Learning
2     3  ...     CyberSecurity Shriya Internships White hacking

[3 rows x 11 columns]

In [ ]:
#convert text into a matrix of token counts 
cm=CountVectorizer().fit_transform(df['important_features'])

In [ ]:
#get cosine similarity matrix from count matrix
cs=cosine_similarity(cm)
print(cs)

[[1.         0.         0.         0.16903085 0.         0.
  0.2        0.         0.1490712  0.18257419 0.2236068 ]
 [0.         1.         0.         0.3380617  0.4        0.
  0.2        0.4        0.         0.         0.2236068 ]
 [0.         0.         1.         0.         0.         0.4472136
  0.         0.         0.         0.         0.        ]
 [0.16903085 0.3380617  0.         1.         0.         0.
  0.6761234  0.         0.37796447 0.46291005 0.18898224]
 [0.         0.4        0.         0.         1.         0.4472136
  0.         0.4        0.         0.         0.2236068 ]
 [0.         0.         0.4472136  0.         0.4472136  1.
  0.         0.         0.         0.         0.        ]
 [0.2        0.2        0.         0.6761234  0.         0.
  1.         0.         0.4472136  0.54772256 0.2236068 ]
 [0.         0.4        0.         0.         0.4        0.
  0.         1.         0.         0.18257419 0.4472136 ]
 [0.1490712  0.         0.         0.37796447 0.         0.
  0.4472136  0.         1.         0.40824829 0.16666667]
 [0.18257419 0.         0.         0.46291005 0.         0.
  0.54772256 0.18257419 0.40824829 1.         0.40824829]
 [0.2236068  0.2236068  0.         0.18898224 0.2236068  0.
  0.2236068  0.4472136  0.16666667 0.40824829 1.        ]]

In [ ]:
#get shape of the cosine similarity matrix
cs.shape

(11, 11)

In [ ]:
#get the Courses that user likes
title='Artificial Intelligence'#also can use title=input() to take user input
#find the Course id
Course_id=df[df.Course==title]['Course_id'].values[0]

In [ ]:
#create a list of enums for the similarity score [(placeid,similarity score), (...)]
scores=list(enumerate(cs[Course_id]))

In [ ]:
#sort the list element is position 1 is similarity score reverse=true means asscending order
sorted_scores=sorted(scores,key=lambda x:x[1] , reverse=True)
sorted_scores=sorted_scores[1:]

In [ ]:
#print sorted score
print(sorted_scores)

[(10, 0.22360679774997896), (6, 0.19999999999999998), (9, 0.18257418583505539), (3, 0.1690308509457033), (8, 0.14907119849998596), (1, 0.0), (2, 0.0), (4, 0.0), (5, 0.0), (7, 0.0)]

In [ ]:
#create loop to print first 5 similar Courses
j=0
print('the 5 most recommended courses like',title,'are:\n')
for item in sorted_scores:
  Course_title=df[df.Course_id==item[0]]['Course'].values[0]
  print(j+1,Course_title)
  j=j+1
  if j>4:
    break

the 5 most recommended courses like Artificial Intelligence are:

1 Chatbot
2 Deep Learning
3 Soft Computing
4 Machine Learning
5 Data Science